# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

`Some of the popular languages that Data Scientists use are:`

1. Python
2. R
3. SQL
4. Java

`Some of the commonly used libraries used by Data Scientists include:`

1. Scikit-learn
2. Tensorflow
3. Pytorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

 - Addition `+`
 ```python
x = 5
y = 10
z = x + y
print(z)  # Output: 15
```
 - Substration `-`
 ```python
x = 15
y = 10
z = x - y
print(z)  # Output: 5
```
 - Multiplication `*`
 ```python
x = 5
y = 10
z = x * y
print(z)  # Output: 50
```

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Objectives**

- Popular languages for Data Science
- List of Data Science Libraries
- List of Data Science tools

## Author's name

Shiv Kumar Yadav